.Card {
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 10px;
    border: 4px solid green;
    font-style: italic;
    text-align: Center;
    font-weight: normal;
}

.CardCaption {
    color: orange;
    font-size: 35px;
}